.container-newnew{
    width: 90%;
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0 auto;
  }

.sub-btn{
    margin-top: 10px;
  padding: 12px 20px; /* Increase padding for a larger button */
  width: 100%; /* Set the width to 100% of the form's width */
  max-width: 628px; /* Optionally, set a maximum width for the button */
  align-self: center; /* Center align the button within the form */
  background-color: rgb(234, 57, 13); /* Button background color */
  color: white; /* Button text color */
  border: none; /* Remove any default border */
  border-radius: 4px; /* Add rounded corners */
  cursor: pointer; /* Change cursor to pointer on hover */
  text-align: center; /* Center the text inside the button */
  }
  .sub-btn:hover{
    background-color: whitesmoke;
    border: 2px solid rgb(234, 57, 13);
    color: rgb(234, 57, 13);
    transform: scale(1.1);
  }
  p{
    text-align: center;
}
.btn-lg{
           
    width: 100%;
    padding: 7px 10px;
    border-radius: 5px;
    margin-left: 1px;
  
    background-color: white;
    color:  rgb(234, 57, 13);
    text-decoration: none;
    margin: 5px;
    cursor: pointer;
    border: 2px solid rgb(234, 57, 13);
}
.btn-lg:hover{
    background-color: rgb(234, 57, 13);
    border: 2px solid rgb(234, 57, 13);
    color: white;
    transform: scale(1.1);
  }
  h2 {
    text-align: center;
    color: rgb(234, 57, 13);
    margin-bottom: 1em;
    font-size: 2em;
    font-weight: bold;
}

section#auth {
    text-align: center;
}

.auth-toggle {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.auth-toggle button {
    background-color: #333;
    color: white;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 0.5em;
    border-radius: 5px;
}

.auth-toggle button:hover {
    background-color: #555;
}

form {
    text-align: left;
}

form label {
    display: block;
    margin: 1em 0 0.5em;
    font-weight: bold;
}

form input,
form select {
    width: 99%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 1em;
    transition: background-color 0.3s;
    width: 80%;
}

form input[type="submit"]:hover {
    background-color: #555;
}

#error-message {
    color: red;
    text-align: center;
    margin-bottom: 1em;
}

#admin-password-container {
    display: none;
}




  p{
      text-align: center;
  }

 
main {
    padding: 2em 1em;
    max-width:50%;
    height: 85vh;
    margin: 2em auto;
    background-color: whitesmoke;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    
  }
  