*{
    margin:0px ;
    padding:0px ;
    font-family: sans-serif;
  }
body{
    display: flex;
    justify-content: center;
    height: 100vh;
    background: whitesmoke;
    align-items: center;
  }
.container1{
    display: flex;
  }
.card{
    height: 380px;
    margin: 15px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
  
  }
img{
   width: 350px;
   height:380px ;
   border-radius: 3px;
   transition: .5s;
  }
  .intro{
   height:70px ;
   width:350px ;
   padding:6px ;
   box-sizing: border-box;
   position: fixed;
   bottom: 240px;
   background: rgb(27, 27, 27,.5);
   color: white;
   transition: .5s;
  }
  h1{
  font-size:25px ;
  margin: 40px;
  }
  p{
    font-size: 20px;
    margin: 20px;
    visibility: hidden;
    opacity: 0;
  }
  span{
    font-weight: bold;
  }
  
  .card:hover{
    cursor: pointer;
  }
  .card:hover .intro{
    height:220px;
    bottom: 240px;
    background: black;
  }
  .card:hover p{
    opacity: 1;
    visibility: visible;
  }
  .card:hover img{
    transform: scale(1.1)rotate(-3deg);
  }
 

 

  
