.floating-cart {
    position: fixed;
    top: 190px;
    right: 26px;
    text-align: center;
    z-index: 1000;
    animation: float 3s ease-in-out infinite;
}

.cart-btn {
    background-color: #ffffff;
    color: rgb(131, 115, 115);
    padding: 1em;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1em;
    box-shadow: 0 1px 3px #333;
    transition: background-color 0.3s, transform 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    text-decoration: none;
    position: relative;
}

.cart-btn:hover {
    background-color: #ffcc00;
    transform: scale(1.1) rotate(10deg);
}

.cart-btn img {
    width: 60px;
    height: auto;
    transition: transform 0.3s;
}

.cart-btn:hover img {
    transform: scale(1.2);
}

.cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 50%;
    font-size: 0.8em;
    animation: bounce 0.5s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}
